@model ManagementDispatch.Models.CongVanDi
@{
    /**/

    ViewBag.Title = "Sửa công văn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-solid">
    <div class="box-body">
        <h1>Sửa công văn</h1>
        <hr />
        @section jsFooter{
            <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault;
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
            </script>
            <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());
        });
            </script>
            <script type="text/javascript">
        $(function () {
            $("#datepicker1").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());
        });
            </script>
        }
        <style>
            #datepicker {
                width: 180px;
            }

                #datepicker > span:hover {
                    cursor: pointer;
                }

            #datepicker1 {
                width: 180px;
            }

                #datepicker1 > span:hover {
                    cursor: pointer;
                }
        </style>

        @using (Html.BeginForm("EditTextGo", "ManageTextGo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.IDCongVanDi, "Số hiệu CV:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IDCongVanDi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IDCongVanDi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NgayGui, "Ngày gửi:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="date" name="NgayGui" id="NgayGui" class="form-control" value="@Model.NgayGui.ToString(string.Format("yyyy-MM-dd"))" />
                    @Html.ValidationMessageFor(model => model.NgayGui, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IDLoaiCongVan, "Loại công văn:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IDLoaiCongVan, null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoiDungCongViec, "Nội dung:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoiDungCongViec, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoiDungCongViec, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IDPhongBan, "Phòng ban: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IDPhongBan, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TenNguoiGui, "Người gửi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenNguoiGui, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNguoiGui, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IDDonViGui, "Đơn vị gửi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IDDonViGui, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BaoMat, "Văn bản bảo mật:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.BaoMat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BaoMat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.File, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                    <p>chọn tập tin mới</p>
                    <input type="file" name="uploadFile" />
                    @ViewBag.Thongbao
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnhScan, "Ảnh scan( 1 ảnh): ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.AnhScan, new { htmlAttributes = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
                    <a id="btnSelectImage" href="#">Chọn ảnh</a>
                    @Html.ValidationMessageFor(model => model.AnhScan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sửa" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>
