
@{
    ViewBag.Title = "ProfileAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:30px">Thông tin nhân viên</p>
<hr />
<ul class="list-group list-group-flush">

    <li class="list-group-item">Họ tên:    @Model.HoTen</li>
    <li class="list-group-item">Username:  @Model.Username</li>
    <li class="list-group-item">Email:     @Model.Email</li>
    <li class="list-group-item">Ngày sinh: @Model.NgaySinh.ToString(string.Format("dd/MM/yyyy"))</li>
    <li class="list-group-item">SĐT:       @Model.SDT</li>
</ul>
