@model ManagementDispatch.Models.Statistical
@{
    ViewBag.Title = "CountText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*

    <p>Số công văn đến: @Model.CountTextTo</p>
    <br />
    <p>Số công văn đi: @Model.CountTextGo</p>
    <br />
    <p class="">Tổng số công văn: @Model.SUM</p>*@
<p style="font-size:20px">Tổng số công văn: @Model.SUM</p>
<hr />

@Html.Action("CountTextTo", "Statistical")
@Html.Action("CountTextGo", "Statistical")
